<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ILLUNA</title>
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="css/stylelogin.css" />
</head>

<body>
  {{!-- <img class="logo" src="/public/logo/illuna.png" alt="illuna logo"> --}}
  <br>
  <header>
    <h1 class="welcome">Welcome to ILLUNA</h1>
  </header>
  <nav>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <br><br><br>
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <div class="homepage">
      {{{body}}} 
    </div>
    <div class="marketplace">
    <div class="blog">
    </div>
    <div class="chat">
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/public/js/logout.js"></script>
  {{/if}}
</body>

{{!-- adds animation to login page --}}
<script src="css/login/css.js"></script>

</html>