<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ILLUNA</title>
  {{!-- <link rel="stylesheet" href="/public/css/style.css"> --}}
  <link rel="stylesheet" href="css/stylelogin.css" />
</head>

<body>
  {{!-- <img class="logo" src="/public/logo/illuna.png" alt="illuna logo"> --}}
  <br>
  <header>
    <h1 class="welcome">Welcome to ILLUNA</h1>
  </header>
  <nav>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{!-- may not need ELSE and HREF to login --}}
    {{/if}}
  </nav>
  <main>
    {{!-- <aside>
      <h2>Hello more filler text</h2>
    </aside> --}}
    <div class="homepage">
      {{!-- homepage.handlebars --}}
    </div>
    <div class="marketplace">
      {{!-- body? --}}
    </div>
    <div class="blog">
      {{!-- what does body do --}}
      {{{body}}} 
    </div>
    {{!-- Chat section could be changed --}}
    <div class="chat">
      {{!-- chat --}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/public/js/logout.js"></script>
  {{/if}}
</body>

{{!-- adds animation to login page --}}
<script src="css/login/css.js"></script>

</html>