<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ILLUNA</title>
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="css/stylelogin.css" />
  <link href="/images/favicon.ico" rel="shortcut icon">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
</head>
<body>
<main class="col-auto">
    {{{body}}}
  </main>

  <footer class="footer flex-row justify-center">
    
    &copy; IllUNA CREATIONS
  </footer>
</body>
{{!-- adds animation to login page --}}
<script src="css/login/css.js"></script>

</html>
