<section class="container">
  <h3 class="seller-name">
  <a href="/views/sellerhome.handlebars">{{seller-name}}</a>
  </h3>
<section class="blog-post">
  <div class="blog-description">
    <h3>{{blog.title}}</h3>
    <p>{{seller.name}}</p>
    <p>{{blog.description}}</p>
    {{!-- add the date the blog was posted --}}
    <p>POST DATE</p>
  </div>
</section>


{{!-- User doesn't need to log in to view seller's blog posts --}}