{{!-- Homepage includes blogs and market ads from all sellers --}}

{{!-- Database needs: 
    seller, item, item-details, item-price
    seller, blog-post
 --}}

<section class="blog-homepage">
    {{#each blog.title as |blog|}}
    {{> blog-descriptions}}
    {{/each}}
</section>

<section class="marketplace-item">
    {{#each seller.item as |item|}}
    {{> item-price}}
    {{> item-details}}
    {{/each}}
</section>