{{!-- make it so it connects to one seller's profile --}}
<section class="seller">
    <h1>{{seller-name}}</h1>
    {{!-- create a section for the seller's bio? --}}
    <p>{{seller-bio}}</p>
</section>


{{!-- How to view posts only from one seller? --}}
<section class="blog-homepage">
    {{#each blog.title as |blog|}}
    {{> blog-descriptions}}
    {{/each}}
</section>

{{!-- seller, item, price, details, filename still needs a database --}}
<section class="marketplace-item">
    {{#each seller.item as |item|}}
    {{> item-price}}
    {{> item-details}}
    {{/each}}
</section>